<h2>You are here</h2>
<div id="map"></div>

<div class="buttons-container">
  <button id="save" class="btn save">Save current location</button>
  <a href="/locations" class="btn list">Show locations</a>
</div>

<script type="text/javascript">

</script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
async defer></script>
